<!-- views/partials/sidebar-eldenring.ejs -->
<aside class="sidebar">
    <a href="/" class="sidebar-title-link">
        <h1 class="sidebar-title">Moonred<br>Society</h1>
    </a>

    <nav class="sections">
        <a href="#overview-section">Overview</a>
        <a href="#map-areas-section">Map Areas</a>
        <a href="#graces-section">Sites of Grace</a>
        <a href="#bosses-section">Bosses</a>
        <a href="#enemies-section">Enemies</a>
        <a href="#merchants-section">Merchants</a>
        <a href="#items-section">Items</a>
        <!-- Adicione mais links de seção aqui se necessário -->
    </nav>

    <!-- REMOVIDO: Link "Back to Games" -->

</aside>