<!-- views/partials/sidebar.ejs -->
<aside class="sidebar">
    <a href="/" class="sidebar-title-link">
        <h1 class="sidebar-title">Moonred Society</h1>
    </a>
    <nav class="sections">
        <a href="/">Home</a>
        <a href="/updates">Update Log</a>
        <a href="/forum">Forum</a>
        <a href="/gallery">Gallery</a>
        <a href="/profile">Profile</a>
        <a href="/guild">Moonred Society</a>
        <a href="/support">Support</a>
    </nav>
</aside>